apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      containers:
        - name: ping-pong
          image: khushi03/ping-pong:latest
          ports:
            - containerPort: 3000
          env:
            - name: PORT
              value: "3000"
volumeMounts:
  - name: shared
    mountPath: /data
volumes:
  - name: shared
    persistentVolumeClaim:
      claimName: shared-pvc
