apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: pingpong
  namespace: default
spec:
  template:
    spec:
      containers:
        - image: your-docker-id/pingpong:latest
          ports:
            - containerPort: 8080
