apiVersion: v1
kind: Service
metadata:
  name: pingpong-service
spec:
  selector:
    app: pingpong
  ports:
    - port: 80
      targetPort: 3000
readinessProbe:
  httpGet:
    path: /healthz
    port: 3000
  initialDelaySeconds: 2
  periodSeconds: 5
