apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-backend
  template:
    metadata:
      labels:
        app: todo-backend
    spec:
      containers:
      - name: todo-backend
        image: khushi/todo-backend:latest
        ports:
        - containerPort: 3002
readinessProbe:
  httpGet:
    path: /healthz
    port: 3000
  initialDelaySeconds: 2
  periodSeconds: 5
  failureThreshold: 3
