apiVersion: v1
kind: Service
metadata:
  name: todo-backend-svc
spec:
  selector:
    app: todo-backend
  ports:
    - protocol: TCP
      port: 3002
      targetPort: 3002
readinessProbe:
  httpGet:
    path: /healthz
    port: 3000
  initialDelaySeconds: 2
  periodSeconds: 5
  failureThreshold: 3
